################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/debug
/GeneratedFiles
/.vs/processRikenData/v14
/QCustomPlot
/x64/Debug
/Math/smoothing_splines.h.UBWXfp
/Math/exception.h.GuhiCe
/RikenData/CompressedMS.cpp.YrDxUy
/RikenData/CompressedMS.cpp.xWBrNw
/RikenData/CompressedMS.cpp.wxVHtQ
/RikenData/CompressedMS.cpp.SsqbcH
/RikenData/CompressedMS.cpp.QljuZG
/RikenData/CompressedMS.cpp.qBqQag
/RikenData/CompressedMS.cpp.Paipze
/RikenData/CompressedMS.cpp.NbHWIs
/RikenData/CompressedMS.cpp.ixuFan
/RikenData/CompressedMS.cpp.EoqjdN
/RikenData/CompressedMS.cpp.crmPsH
/RikenData/CompressedMS.cpp.autosave.CzbSRG
/RikenData/CompressedMS.cpp.AfWHgj
/processRikenData.pro.user.XuPDZB
/processRikenData.pro.user.RPdPRw
/processRikenData.pro.user.fcFWhA
/processRikenData.pro.user.3.2-pre1
/processRikenData.pro.user.18
